{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
  <div class="border-bottom p-3 mt-5" style="background-color: rgba(255, 255, 255, 0.5); border-color: darkslategray !important;">
  <div>
    <div class="font-weight-bold custom-break-word">{{ community.title }}</div>
    <a class="text-dark custom-break-word">작성자: {{ community.user }}</a>
  </div>
  <hr>
  <pre class="custom-break-word">{{ community.content }}</pre>
  <hr>
  <div class="text-right">
    <div><small>작성:{{ community.created_at }}</small></div>
    <div><small>수정:{{ community.updated_at }}</small></div>
  </div>
  {% if user == community.user %}
  <div class="text-right">
    <form action="{% url 'community:delete' community.pk %}" method="POST">

      <a href="{% url 'community:update' community.pk %}" class="square_btn">수정</a>
      {% csrf_token %}
      <button type="submit" class="square_btn" value="삭제">삭제</button>
    </form>
  </div>
  {% endif %}
</div>
  <br>
  <h4>댓글</h4>
  {% if comments|length %}
    <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
  {% endif %}
  {% for comment in comments %}
    <div>
      {{ comment.user }} - {{ comment.content }}
    </div>
    {% if request.user == comment.user %}
    <a href="{% url 'community:comment_delete' community.pk comment.pk %}">삭제</a>
    {% endif %}
  {% empty %}
    <p><b>댓글이 없어요..</b></p>
  {% endfor %}
  <hr>
  {% if request.user.is_authenticated %}
    <form action="{% url 'community:comment_create' community.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit">
    </form>
  {% else %}
    <a href="{% url 'user:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <a href="{% url 'community:index' %}">[back]</a>
{% endblock content %}