{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
  <div class="border-bottom p-3 mt-5" style="background-color: rgba(255, 255, 255, 0.5); border-color: darkslategray !important;">
  <div>
    <h3 class="font-weight-bold custom-break-word">{{ community.title }}</h3>
    <a class="text-dark custom-break-word"><small>작성자: {{ community.user }}</small></a>
  </div>
  <hr>
  <img src="{{ community.image.url }}" alt="">
  <br>
  <br>
  <pre class="custom-break-word">{{ community.content }}</pre>
  <hr>
    <div style="display: flex; justify-content: end;"><small>작성:{{ community.created_at }}</small></div>
    <div style="display: flex; justify-content: end;"><small>수정:{{ community.updated_at }}</small></div>
  {% if user == community.user %}
  <div style="display: flex; justify-content: end;">
    <a href="{% url 'community:update' community.pk %}" class="btn btn-outline-primary">수정</a>
    <a href="{% url 'community:delete' community.pk %}" class="btn btn-outline-danger" style="margin-left: 5px;">삭제</a>
  </div>
  {% endif %}
</div>
  <br>
  <h4>댓글</h4>
  {% if comments|length %}
    <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
  {% endif %}
  {% for comment in comments %}
    <div class="inblockclass">
      <p style="display: inline-block">{{ comment.content }} &nbsp;</p> | <strong>{{ comment.user }}</strong> <p class="font-weight-light">&nbsp; {{ comment.created_at }}</p></p>
      {% if request.user == comment.user %}
        <a href="{% url 'community:comment_delete' community.pk comment.pk %}" class="btn btn-danger">X</a>
      {% endif %}
    </div>
    <hr>
  {% empty %}
    <p><b>댓글이 없어요..</b></p>
  {% endfor %}
  <hr>
  {% if request.user.is_authenticated %}
    <form action="{% url 'community:comment_create' community.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      <input type="submit">
    </form>
  {% else %}
    <a href="{% url 'user:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <a href="{% url 'community:index' %}">[back]</a>
{% endblock content %}