{% extends 'base.html' %}

{% block content %}
  <form action="{% url 'movie.genre_search' %}">
    {% csrf_token %}
    <label for="id_genre">장르선택:</label>
    <select name="genre_name" id="id_genre" onchange="window.open(this.value)">
      <option value="http://127.0.0.1:8000/movie/genre/액션">액션</option>
      <option value="http://127.0.0.1:8000/movie/genre/모험">모험</option>
      <option value="http://127.0.0.1:8000/movie/genre/애니메이션">애니메이션</option>
      <option value="http://127.0.0.1:8000/movie/genre/코미디">코미디</option>
      <option value="http://127.0.0.1:8000/movie/genre/범죄">범죄</option>
      <option value="http://127.0.0.1:8000/movie/genre/다큐멘터리">다큐멘터리</option>
      <option value="http://127.0.0.1:8000/movie/genre/드라마">드라마</option>
      <option value="http://127.0.0.1:8000/movie/genre/가족">가족</option>
      <option value="http://127.0.0.1:8000/movie/genre/판타지">판타지</option>
      <option value="http://127.0.0.1:8000/movie/genre/역사">역사</option>
      <option value="http://127.0.0.1:8000/movie/genre/공포">공포</option>
      <option value="http://127.0.0.1:8000/movie/genre/음악">음악</option>
      <option value="http://127.0.0.1:8000/movie/genre/미스터리">미스터리</option>
      <option value="http://127.0.0.1:8000/movie/genre/로맨스">로맨스</option>
      <option value="http://127.0.0.1:8000/movie/genre/SF">SF</option>
      <option value="http://127.0.0.1:8000/movie/genre/TV 영화">TV 영화</option>
      <option value="http://127.0.0.1:8000/movie/genre/스릴러">스릴러</option>
      <option value="http://127.0.0.1:8000/movie/genre/전쟁">전쟁</option>
      <option value="http://127.0.0.1:8000/movie/genre/서부">서부</option>
    </select>
  </form>
  {% comment %} {% for movie in movies %}
    <p>영화 번호 : {{ movie.id }}</p>
    <p>영화 제목 : {{ movie.title }}</p>
    <p>영화 내용 : {{ movie.overview }}</p>
    <p>영화 평점 : {{ movie.average_rate }}</p>
    <a href="{% url 'movie:detail' movie.pk %}">자세히 보기</a>
    <hr>
  {% endfor %} {% endcomment %}
{% endblock content %}