{% extends 'base.html' %}


{% block content %}
  <div class="row mt-5 m-0" style="width: 100%;">
  {% for movie in movies %}
  <div class="col-6" style="cursor:pointer;">
    <div class="card card-move h-100 position-relative">
      <div class="imageDiv h-100">
        <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}">
      </div>
      <div class="desc position-absolute w-100 h-100 text-center">
        <div class="position-absolute" OnClick="location.href ='{% url 'movie:detail' movie.pk %}'"
          style="top: 0; bottom: 3.5rem; width: 100%;"></div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}