{% extends 'base.html' %}

{% block content %}
<div>
  <form id="searchbar-form">
    {% csrf_token %}
    <input id="searchword" class="form-control" type="text"  name="searchword" value="{{searchword}}" placeholder="영화 제목, 키워드를 입력해주세요">
    <button class="btn btn-outline-success" type="submit">검색</button>
  </form>
</div>
<br>
<br>
<div class="card-group">
  <div class= "row g-2" style="text-align: center; display: flex; justify-content:space-between" id = "movie-list">
  
  </div>
</div>
<div id="pagination">
</div>

</div>
<script  src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  let movies = []
  let page = 1
  const forms = document.querySelectorAll('#searchbar-form')
  function prev() {
    console.log('prev')
    event.preventDefault()
      const searchword = document.querySelector('#searchbar-form > #searchword').value
      
      const URL = `http://127.0.0.1:8000/movie/search/${searchword}/?page=${page-1}`
      console.log(URL)
      axios.get(URL)
      .then(function (response) {
        const list = document.getElementById('movie-list')
        const pages = document.getElementById('pagination')
        console.log(pages)
        pages.innerText=''
        list.innerText=''
        //console.log(response.data.data)
        if (response.data.data.length===0){
          let no_result = document.createElement("p")
          no_result.innerText="검색결과가 없습니다."
          list.appendChild(no_result)
        }
        else{
          movies = response.data.data
          page -=1
          //console.log(response)
          for (movie in movies){
            //카드 만들기
            let card = document.createElement("div")
            card.setAttribute('class','card col-2 border-0 m-1')
            //카드에 이미지 넣기
            let cardposter = document.createElement("a")
            cardposter.setAttribute('href',`http://127.0.0.1:8000/movie/${movies[movie].pk}`)
            let postimg = document.createElement("img")
            postimg.setAttribute('src',movies[movie].posterpath)
            postimg.setAttribute('class',"card-img-top")
            cardposter.appendChild(postimg)
            card.appendChild(cardposter)
            //카드에 타이틀과 평점이 들어갈 카드바디 만들기
            let cardbody = document.createElement("div")
            cardbody.setAttribute('class','card-body')
            //카드 타이틀 만들기
            let title = document.createElement("h5")
            title.setAttribute('class','card-title')
            let titlelink = document.createElement("a")
            titlelink.setAttribute("href",`http://127.0.0.1:8000/movie/${movies[movie].pk}`)
            titlelink.innerText = `${movies[movie].title}`
            title.appendChild(titlelink)
            cardbody.appendChild(title)
            //카드 평점 만들기
            let avgrate = document.createElement("p")
            if (movies[movie].average_rate==0) {
              avgrate.innerText= '평점이 매겨지지 않은 영화입니다.'
            }
            else {
              avgrate.innerText = `평점:${movies[movie].average_rate}`
            }
            cardbody.appendChild(avgrate)
            card.appendChild(cardbody)  
            list.appendChild(card)
          }
          let previous = document.createElement("li")
          let currentpage = document.createElement("li")
          let next = document.createElement("li")
          //previous
          previous.setAttribute("class","page-item")
          let prelink = document.createElement("a")
          prelink.setAttribute("href",'#')//`${searchword}?page=${page-1}`)
          prelink.setAttribute("onclick", 'prev()')
          prelink.setAttribute("class","page-link")
          prelink.innerText='Previous'
          previous.appendChild(prelink)
          //current
          currentpage.setAttribute("class","page-item active")
          let clink = document.createElement("a")
          clink.setAttribute('href','#')
          clink.setAttribute('class','page-link')
          clink.innerText = page
          currentpage.appendChild(clink)
          //next
          next.setAttribute("class","page-item")
          let nextlink = document.createElement("a")
          nextlink.setAttribute("href",'#')//`${searchword}?page=${page+1}`)
          nextlink.setAttribute("onclick",'next()')
          nextlink.setAttribute("class",`page-link`)
          nextlink.innerText='Next'
          next.appendChild(nextlink)
          //paginator 종합
          paginator = document.createElement("ul")
          paginator.setAttribute("class","pagination justify-content-center")
          if (response.data.posts.has_previous) {
            paginator.appendChild(previous)
          }
          paginator.appendChild(currentpage)
          if (response.data.posts.has_next) {
            paginator.appendChild(next)
          }
          console.log(paginator)
          pages.appendChild(paginator)
          console.log(pages)
        }
      })
      .catch((err) => {
        if (err.response.status ===401){
          window.location.href = '/user/login'
        }
      })
  }
  function next() {
    console.log('next')
    event.preventDefault()
      const searchword = document.querySelector('#searchbar-form > #searchword').value
      
      const URL = `http://127.0.0.1:8000/movie/search/${searchword}/?page=${page+1}`
      console.log(URL)
      axios.get(URL)
      .then(function (response) {
        const list = document.getElementById('movie-list')
        const pages = document.getElementById('pagination')
        console.log(pages)
        pages.innerText=''
        list.innerText=''
        //console.log(response.data.data)
        if (response.data.data.length===0){
          let no_result = document.createElement("p")
          no_result.innerText="검색결과가 없습니다."
          list.appendChild(no_result)
        }
        else{
          movies = response.data.data
          page +=1
          //console.log(response)
          for (movie in movies){
            //카드 만들기
            let card = document.createElement("div")
            card.setAttribute('class','card col-2 border-0 m-1')
            //카드에 이미지 넣기
            let cardposter = document.createElement("a")
            cardposter.setAttribute('href',`http://127.0.0.1:8000/movie/${movies[movie].pk}`)
            let postimg = document.createElement("img")
            postimg.setAttribute('src',movies[movie].posterpath)
            postimg.setAttribute('class',"card-img-top")
            cardposter.appendChild(postimg)
            card.appendChild(cardposter)
            //카드에 타이틀과 평점이 들어갈 카드바디 만들기
            let cardbody = document.createElement("div")
            cardbody.setAttribute('class','card-body')
            //카드 타이틀 만들기
            let title = document.createElement("h5")
            title.setAttribute('class','card-title')
            let titlelink = document.createElement("a")
            titlelink.setAttribute("href",`http://127.0.0.1:8000/movie/${movies[movie].pk}`)
            titlelink.innerText = `${movies[movie].title}`
            title.appendChild(titlelink)
            cardbody.appendChild(title)
            //카드 평점 만들기
            let avgrate = document.createElement("p")
            if (movies[movie].average_rate==0) {
              avgrate.innerText= '평점이 매겨지지 않은 영화입니다.'
            }
            else {
              avgrate.innerText = `평점:${movies[movie].average_rate}`
            }
            cardbody.appendChild(avgrate)
            card.appendChild(cardbody)  
            list.appendChild(card)
          }
          let previous = document.createElement("li")
          let currentpage = document.createElement("li")
          let next = document.createElement("li")
          //previous
          previous.setAttribute("class","page-item")
          let prelink = document.createElement("a")
          prelink.setAttribute("href",'#')//`${searchword}?page=${page-1}`)
          prelink.setAttribute("onclick", 'prev()')
          prelink.setAttribute("class","page-link")
          prelink.innerText='Previous'
          previous.appendChild(prelink)
          //current
          currentpage.setAttribute("class","page-item active")
          let clink = document.createElement("a")
          clink.setAttribute('href','#')
          clink.setAttribute('class','page-link')
          clink.innerText = page
          currentpage.appendChild(clink)
          //next
          next.setAttribute("class","page-item")
          let nextlink = document.createElement("a")
          nextlink.setAttribute("href",'#')//`${searchword}?page=${page+1}`)
          nextlink.setAttribute("onclick",'next()')
          nextlink.setAttribute("class",`page-link`)
          nextlink.innerText='Next'
          next.appendChild(nextlink)
          //paginator 종합
          paginator = document.createElement("ul")
          paginator.setAttribute("class","pagination justify-content-center")
          if (response.data.posts.has_previous) {
            paginator.appendChild(previous)
          }
          paginator.appendChild(currentpage)
          if (response.data.posts.has_next) {
            paginator.appendChild(next)
          }
          console.log(paginator)
          pages.appendChild(paginator)
          console.log(pages)
        }
      })
      .catch((err) => {
        if (err.response.status ===401){
          window.location.href = '/user/login'
        }
      })
  }



  forms.forEach(function (form) {
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const searchword = document.querySelector('#searchbar-form > #searchword').value
      
      const URL = `http://127.0.0.1:8000/movie/search/${searchword}`
      console.log(URL)
      axios.get(URL)
      .then(function (response) {
        const list = document.getElementById('movie-list')
        const pages = document.getElementById('pagination')
        console.log(pages)
        pages.innerText=''
        list.innerText=''
        //console.log(response.data.data)
        if (response.data.data.length===0){
          let no_result = document.createElement("p")
          no_result.innerText="검색결과가 없습니다."
          list.appendChild(no_result)
        }
        else{
          movies = response.data.data
          page = 1
          //console.log(response)
          for (movie in movies){
            //카드 만들기
            let card = document.createElement("div")
            card.setAttribute('class','card col-2 border-0 m-1')
            //카드에 이미지 넣기
            let cardposter = document.createElement("a")
            cardposter.setAttribute('href',`http://127.0.0.1:8000/movie/${movies[movie].pk}`)
            let postimg = document.createElement("img")
            postimg.setAttribute('src',movies[movie].posterpath)
            postimg.setAttribute('class',"card-img-top")
            cardposter.appendChild(postimg)
            card.appendChild(cardposter)
            //카드에 타이틀과 평점이 들어갈 카드바디 만들기
            let cardbody = document.createElement("div")
            cardbody.setAttribute('class','card-body')
            //카드 타이틀 만들기
            let title = document.createElement("h5")
            title.setAttribute('class','card-title')
            let titlelink = document.createElement("a")
            titlelink.setAttribute("href",`http://127.0.0.1:8000/movie/${movies[movie].pk}`)
            titlelink.innerText = `${movies[movie].title}`
            title.appendChild(titlelink)
            cardbody.appendChild(title)
            //카드 평점 만들기
            let avgrate = document.createElement("p")
            if (movies[movie].average_rate==0) {
              avgrate.innerText= '평점이 매겨지지 않은 영화입니다.'
            }
            else {
              avgrate.innerText = `평점:${movies[movie].average_rate}`
            }
            cardbody.appendChild(avgrate)
            card.appendChild(cardbody)  
            list.appendChild(card)
          }
          let previous = document.createElement("li")
          let currentpage = document.createElement("li")
          let next = document.createElement("li")
          //previous
          previous.setAttribute("class","page-item")
          let prelink = document.createElement("a")
          prelink.setAttribute("href",'#')//`${searchword}?page=${page-1}`)
          prelink.setAttribute("onclick", 'prev()')
          prelink.setAttribute("class","page-link")
          prelink.innerText='Previous'
          previous.appendChild(prelink)
          //current
          currentpage.setAttribute("class","page-item active")
          let clink = document.createElement("a")
          clink.setAttribute('href','#')
          clink.setAttribute('class','page-link')
          clink.innerText = page
          currentpage.appendChild(clink)
          //next
          next.setAttribute("class","page-item")
          let nextlink = document.createElement("a")
          nextlink.setAttribute("href",'#')//`${searchword}?page=${page+1}`)
          nextlink.setAttribute("onclick",'next()')
          nextlink.setAttribute("class",`page-link`)
          nextlink.innerText='Next'
          next.appendChild(nextlink)
          //paginator 종합
          paginator = document.createElement("ul")
          paginator.setAttribute("class","pagination justify-content-center")
          if (response.data.posts.has_previous) {
            paginator.appendChild(previous)
          }
          paginator.appendChild(currentpage)
          if (response.data.posts.has_next) {
            paginator.appendChild(next)
          }
          console.log(paginator)
          pages.appendChild(paginator)
          console.log(pages)
        }
      })
      .catch((err) => {
        if (err.response.status ===401){
          window.location.href = '/user/login'
        }
      })
    })
  })
</script>
<style>

.card-img-top {
  width: 200px;
  height: 300px;
}
.card-title {
  font-weight: bolder;
}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:active { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}
</style>
{% endblock content %}